.card-section {
	background-size: cover; /* To cover whole container */
	background-position: center;
	background-color: #EDECEC;
	padding: 60px 0px;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: #EDECEC;
}

.card {
	align-items: center;
	justify-content: space-between;
	box-shadow: 0 10px 30px rgba(0,0,0,.2);
	border-radius: 6px;
	background-color: white;
	margin: 0px 6px 12px 6px;
	flex-basis: 200px;
}

.card:hover {
	border: 2px solid #f89321;
	text-decoration: none;
}

.card img {
	width: 200px;
	height: 285px;
	background-size: cover;
}

.text-box {
	margin: 10px;
	font-size: 14px;
	text-align: justify;
	text-align: center;
	line-height: 18px;
}
